[submodule "frameworks/animate"]
	path = frameworks/animate
	url = git://github.com/ialexi/animate.git
[submodule "frameworks/forms"]
	path = frameworks/forms
	url = git://github.com/ialexi/Forms.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = git://github.com/sproutit/sproutcore.git
