[submodule "frameworks/animate"]
	path = frameworks/animate
	url = git://github.com/ialexi/animate.git
[submodule "frameworks/forms"]
	path = frameworks/forms
	url = git://github.com/ialexi/Forms.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = git://github.com/ialexi/sproutcore.git
[submodule "frameworks/pomona"]
	path = frameworks/pomona
	url = git://github.com/ialexi/pomona.git
[submodule "server/djangoserver/cornelius"]
	path = server/djangoserver/cornelius
	url = git://github.com/ialexi/cornelius.git
[submodule "server/dobby"]
	path = server/dobby
	url = git://github.com/ialexi/dobby.git
[submodule "frameworks/sproutcore.git"]
	path = frameworks/sproutcore.git
	url = git://github.com/ialexi/sproutcore.git
