.contact-view {
	-webkit-box-shadow: 0px 0px 10px black;
	color:black;
}

.contact-view .sc-text-field-view .border {
	-webkit-appearance: none;
	border: 0px none;
}

.contact-view .sc-text-field-view .border:focus {
	-webkit-appearance: textfield;
	border: auto;
}

.sc-view.name .sc-text-field-view input, .sc-view.name .sc-text-field-view .sc-hint {
	font-size:25px;
}

.sc-view.name .sc-label-view {
	font-size:30px;
	padding: 7px;
}

.sc-view.csz .sc-label-view {
	padding: 3px;
}

.form-row-label {
	color:#777; font-weight:bold !important;
}