.icons .plus-active.icon, .icons.plus-active.icon { background:static_url('images/icons/sprites.png') no-repeat; background-position:-0px -0px; }
.icons .plus.icon, .icons.plus.icon { background:static_url('images/icons/sprites.png') no-repeat; background-position:-32px -0px; }
.icons .search-16.icon, .icons.search-16.icon { background:static_url('images/icons/sprites.png') no-repeat; background-position:-64px -0px; }
