.hback .list-big-selection, .hback.list-big-selection { background:static_url('images/hback/sprites.png') repeat-x; background-position:-0px -0px; }
.hback .list-selection, .hback.list-selection { background:static_url('images/hback/sprites.png') repeat-x; background-position:-0px -32px; }
.hback .toolbar, .hback.toolbar { background:static_url('images/hback/sprites.png') repeat-x; background-position:-0px -54px; }
