.icons .company, .company.icons { background:static_url('images/icons/sprites.png') no-repeat; background-position:-0px -0px; }
.icons .person, .person.icons { background:static_url('images/icons/sprites.png') no-repeat; background-position:-16px -0px; }
.icons .plus-active, .plus-active.icons { background:static_url('images/icons/sprites.png') no-repeat; background-position:-32px -0px; }
.icons .plus, .plus.icons { background:static_url('images/icons/sprites.png') no-repeat; background-position:-48px -0px; }
.icons .search-16, .search-16.icons { background:static_url('images/icons/sprites.png') no-repeat; background-position:-64px -0px; }
