.icons .company, .icons.company { background:static_url('images/icons/sprites.png') no-repeat; background-position:-0px -0px; }
.icons .person, .icons.person { background:static_url('images/icons/sprites.png') no-repeat; background-position:-16px -0px; }
.icons .plus-active, .icons.plus-active { background:static_url('images/icons/sprites.png') no-repeat; background-position:-32px -0px; }
.icons .plus, .icons.plus { background:static_url('images/icons/sprites.png') no-repeat; background-position:-48px -0px; }
.icons .search-16, .icons.search-16 { background:static_url('images/icons/sprites.png') no-repeat; background-position:-64px -0px; }
